/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* reset css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* element styling */
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

/* navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(51, 51, 51, 0.25);
  height: 60px;
  width: 100%;
  position: fixed;
}

#navbar .logo {
  color: white;
  padding: 20px;
  font-weight: 300;
}

#navbar ul {
  display: flex;
  list-style-type: none;
}

#navbar ul a {
  color: white;
  font-weight: 200;
  padding: 10px;
}

#navbar ul a:hover {
  text-decoration: underline;
  text-decoration-color: #28a745;
  text-underline-offset: 10px;
}

#navbar ul li {
  padding: 15px;
}

/* showcase */
#showcase {
  background-image: url("../img/buildings.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.775);
  color: white;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#showcase .showcase-content h1 {
  font-size: 3.5rem;
  font-weight: 400;
  padding-bottom: 10px;
}

#showcase .showcase-content p {
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 25px;
}

/* about */
#about .flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#about .flex-container .flex-item {
  text-align: center;
  padding: 90px;
  width: 33.33%;
}

.icon {
  color: white;
  background-color: #28a745;
  border-radius: 50%;
  padding: 25px;
}

#about h3 {
  font-weight: 600;
  font-size: 1.3rem;
  padding-top: 30px;
  padding-bottom: 5px;
}

#about p {
  font-weight: 200;
  font-size: 0.8rem;
  padding: 10px;
  line-height: 2;
}

/* solutions */
#solutions .flex-container {
  display: flex;
  flex-direction: row;
}

#solutions .flex-container .flex-item-1,
#solutions .flex-container .flex-item-2 {
  width: 50%;
}

#solutions .flex-item-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#solutions .flex-item-2 {
  background-color: #28a745;
  color: white;
  padding: 90px 100px;
}

#solutions .flex-item-2 > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#solutions h4 {
  font-weight: 400;
  font-size: 2rem;
}

#solutions h2 {
  font-weight: 100;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

#solutions p {
  font-weight: 200;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

#solutions .btn:hover {
  background-color: #d1dad34b;
}

/* cases */
#cases .section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 90px 70px 50px 70px;
}

#cases .section-header h4 {
  font-weight: 400;
  font-size: 2rem;
}

#cases .section-header h2 {
  font-weight: 100;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

#cases .section-header p {
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.5;
  width: 60%;
}

#cases .flex-grid {
  height: 55vh;
  padding: 0 90px 160px 90px;
}

#cases .flex-grid .row {
  display: flex;
  height: 50%;
}

#cases .flex-grid .row .column {
  width: 25%;
}

#cases img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 2px;
}

#cases img:hover {
  opacity: 0.8;
}

/* blog */
#blog .flex-container {
  display: flex;
  flex-direction: row-reverse;
}

#blog .flex-container .flex-item-1,
#blog .flex-container .flex-item-2 {
  width: 50%;
}

#blog .flex-item-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#blog .flex-item-2 {
  background-color: #28a745;
  color: white;
  padding: 90px 100px;
}

#blog .flex-item-2 > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#blog h4 {
  font-weight: 400;
  font-size: 2rem;
}

#blog h2 {
  font-weight: 100;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

#blog p {
  font-weight: 200;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

#blog .btn:hover {
  background-color: #d1dad34b;
}
