/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* reset css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* element styling */
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
  font-weight: 300;
  color: rgb(87, 87, 87);
  font-size: 0.8rem;
}

/* navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(51, 51, 51, 0.25);
  height: 60px;
  width: 100%;
  position: fixed;
  color: white;
}

#navbar .logo {
  padding: 20px;
  font-weight: 300;
}

#navbar ul {
  display: flex;
  list-style-type: none;
}

#navbar ul a {
  font-weight: 200;
  padding: 10px;
}

#navbar ul a:hover {
  text-decoration: underline;
  text-decoration-color: #28a745;
  text-underline-offset: 10px;
}

#navbar ul li {
  padding: 15px;
}

/* showcase */
#showcase {
  background-image: url("../img/buildings.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.775);
  height: 100vh;
  color: white;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#showcase .showcase-content h1 {
  font-size: 3.5rem;
  font-weight: 400;
  padding-bottom: 10px;
}

#showcase .showcase-content .description {
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 25px;
}

/* about */
#about .flex-container .flex-item {
  text-align: center;
  padding: 0 60px;
}

.icon {
  color: white;
  background-color: #28a745;
  border-radius: 50%;
  padding: 25px;
}

#about .heading-3 {
  padding-top: 30px;
  padding-bottom: 5px;
}

#about .description {
  padding: 10px;
}

/* solutions */
#solutions .flex-row {
  height: 65vh;
}

#solutions .col-1 img {
  object-position: left center;
}

#solutions .col-2 {
  background-color: #28a745;
  color: white;
  align-items: flex-start;
  justify-content: center;
}

#solutions .col-2 .text-content {
  padding: 20% 10%;
}

#solutions .sub-heading-2 {
  margin-bottom: 30px;
}

#solutions .description {
  margin-bottom: 40px;
}

/* cases */
#cases .section-header {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 70px;
}

#cases .section-header .sub-heading-2 {
  margin-bottom: 30px;
}

#cases .section-header .description {
  width: 60%;
}

#cases .flex-grid .flex-row {
  height: 22vh;
}

#cases img {
  padding: 2px;
}

#cases img:hover {
  opacity: 0.8;
}

/* blog */
#blog .flex-row {
  height: 65vh;
}

#blog .flex-container {
  flex-direction: row-reverse;
}

#blog .col-2 {
  background-color: #28a745;
  color: white;
  align-items: flex-start;
  justify-content: center;
}

#blog .col-2 .text-content {
  padding: 20% 10%;
}

#blog .sub-heading-2 {
  margin-bottom: 30px;
}

#blog .description {
  margin-bottom: 40px;
}

/* team */
#team header {
  padding-bottom: 90px;
}

#team header .flex-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#team header .flex-container .sub-heading-2 {
  margin-top: 5px;
  margin-bottom: 40px;
}

#team header .flex-container .description {
  margin-bottom: 10px;
  width: 65%;
}

#team #team-members .heading-3 {
  padding-bottom: 10px;
}

#team #team-members .flex-row .flex-item {
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

#team #team-members img {
  width: 45%;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* callback */
#callback .flex-row {
  height: 65vh;
}

#callback .flex-container .col-2 {
  background-color: #28a745;
  color: white;
  align-items: flex-start;
  justify-content: center;
}

#callback .flex-container .col-2 .text-content {
  padding: 0 10%;
}

#callback .sub-heading-2 {
  margin-bottom: 30px;
}

#callback .description {
  margin-bottom: 40px;
}

#callback form label {
  margin-bottom: 7px;
  display: block;
  font-weight: 300;
}

#callback form input {
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

#callback form input:focus {
  border: none;
  outline: none;
}

#callback form .btn {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
}

/* footer */
footer {
  background-color: #2c2c2c;
  color: white;
  padding: 70px 0;
}

footer .flex-container {
  align-items: center;
  justify-content: center;
}

footer .flex-container .description {
  padding-top: 5px;
}

footer a i {
  margin: 10px;
  color: white;
}
