/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* reset css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* element styling */
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
  font-weight: 300;
  color: rgb(87, 87, 87);
  font-size: 0.8rem;
}

input:focus {
  border: none;
  outline: none;
}

/* navbar */
#navbar {
  justify-content: space-between;
  background-color: rgba(51, 51, 51, 0.25);
  height: 60px;
  width: 100%;
  position: fixed;
  color: white;
}

#navbar .logo {
  padding: 20px;
  font-weight: 300;
}

#navbar ul {
  list-style-type: none;
  justify-content: flex-end;
}

#navbar ul a {
  font-weight: 200;
}

#navbar ul a:hover {
  text-decoration: underline;
  text-decoration-color: #28a745;
  text-underline-offset: 1rem;
}

#navbar ul li {
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

/* showcase */
#showcase {
  background-image: url("../img/buildings.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.775);
  height: 100vh;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#showcase .heading-1 {
  padding: 20px 50px;
}

#showcase .heading-4 {
  font-weight: 300;
  padding: 10px 50px 40px 50px;
}

/* about */
#about .flex-item {
  align-items: center;
  padding: 0 50px;
}

#about {
  text-align: center;
}

#about .icon {
  color: white;
  background-color: #28a745;
  padding: 25px;
  border-radius: 50%;
}

#about .heading-3 {
  padding-top: 30px;
  padding-bottom: 5px;
}

#about .description {
  padding: 10px;
}

/* solutions */
#solutions .flex-item {
  max-width: 50%;
}

#solutions .item-2 {
  align-items: flex-start;
  justify-content: center;
  background-color: #28a745;
  color: white;
  padding: 5%;
}

#solutions .heading-3 {
  margin-bottom: 30px;
}

#solutions .description {
  margin-bottom: 40px;
}

/* cases */
#cases header {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 70px;
}

#cases header .heading-3 {
  margin-bottom: 30px;
}

#cases header .description {
  width: 50%;
}

#cases .flex-grid .flex-item {
  flex-wrap: wrap;
}

#cases img {
  height: 22vh;
  padding: 1px;
}

#cases img:hover {
  opacity: 0.8;
}

/* blog */
#blog .flex-item {
  max-width: 50%;
}

#blog .item-2 {
  background-color: #28a745;
  color: white;
  align-items: flex-start;
  justify-content: center;
  padding: 5%;
}

#blog .item-2 .heading-3 {
  margin-bottom: 30px;
}

#blog .item-2 .description {
  margin-bottom: 40px;
}

/* team */
#team header {
  padding-bottom: 90px;
  align-items: center;
  text-align: center;
}

#team header .heading-3 {
  margin-bottom: 40px;
}

#team header .description {
  width: 65%;
}

#team #team-members .flex-item {
  align-items: center;
  text-align: center;
  padding: 0 5%;
}

#team #team-members img {
  width: 60%;
  border-radius: 50%;
  margin-bottom: 15px;
}

#team #team-members .heading-3 {
  padding: 10px;
}

/* callback */
#callback .flex-item {
  max-width: 50%;
}

#callback .item-2 {
  background-color: #28a745;
  color: white;
  align-items: flex-start;
  justify-content: center;
  padding: 5%;
}

#callback .heading-3 {
  margin-bottom: 30px;
}

#callback form {
  width: 50%;
}

#callback form label {
  margin-bottom: 10px;
  display: block;
  font-weight: 300;
}

#callback form input {
  border: none;
  padding: 8px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

#callback form .btn {
  margin-top: 1rem;
}

/* footer */
footer {
  background-color: #2c2c2c;
  color: white;
  padding: 70px 0;
  align-items: center;
  justify-content: center;
}

footer a i {
  padding: 10px;
  color: white;
}

/* blogs page */
.blog-showcase {
  background-image: url("../img/blogs-background.jpg") !important;
  height: 60vh !important;
  background-position: center center;
}

/* responsive */
/* laptop */
@media screen and (max-width: 1024px) {
  #callback form {
    width: 90%;
  }
}

/* tablet */
@media screen and (max-width: 970px) {
  .section-height {
    height: auto;
  }
}

/* horizontal orientation */
@media screen and (max-width: 970px) and (orientation: landscape) {
  #showcase .heading-1 {
    padding-top: 45px;
  }
}

@media screen and (max-width: 768px) {
  /* utilities */
  .section-padding-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section-padding-lg {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  /* about */
  #about {
    flex-direction: column;
  }

  #about .flex-item:not(:last-child) {
    padding-bottom: 40px;
  }

  /* cases */
  #cases header .description {
    width: 78%;
  }

  #cases img {
    height: 12vh;
  }

  /* team */
  #team header {
    padding-bottom: 60px;
  }

  #team header .description {
    width: 80%;
  }

  #team #team-members .flex-item {
    max-width: 33.33%;
  }

  #team #team-members img {
    width: 90%;
  }
}

/* tablet - small */
@media screen and (max-width: 595px) {
  /* navbar */
  #navbar {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  #navbar ul li {
    padding-bottom: 20px;
  }
}

/* mobile */
@media screen and (max-width: 535px) and (min-width: 220px) {
  section.flex-dir-row,
  section.flex-dir-row-reverse {
    flex-direction: column !important;
  }

  section .flex-item {
    max-width: 100% !important;
  }

  #solutions .flex-item,
  #blog .flex-item,
  #callback .flex-item {
    align-items: center;
    text-align: center;
  }

  #callback form input {
    text-align: center;
  }
}

@media screen and (max-width: 515px) {
  #solutions .item-2,
  #blog .item-2 {
    padding: 50px;
  }

  /* team */
  #team #team-members {
    flex-direction: column;
  }

  #team #team-members .flex-item:not(:last-child) {
    padding-bottom: 30px;
  }

  #team #team-members img {
    width: 30%;
  }
}

@media screen and (max-width: 376px) {
  #navbar ul li {
    padding: 0 5px 20px 5px !important;
  }
}
