/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* reset css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* element styling */
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

/* navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(51, 51, 51, 0.25);
  height: 60px;
  width: 100%;
  position: fixed;
}

#navbar .logo {
  color: white;
  padding: 20px;
  font-weight: 300;
}

#navbar ul {
  display: flex;
  list-style-type: none;
}

#navbar ul a {
  color: white;
  font-weight: 200;
  padding: 10px;
}

#navbar ul a:hover {
  text-decoration: underline;
  text-decoration-color: #28a745;
  text-underline-offset: 10px;
}

#navbar ul li {
  padding: 15px;
}

/* showcase */
#showcase {
  background-image: url("../img/buildings.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.775);
  color: white;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#showcase .showcase-content h1 {
  font-size: 3.5rem;
  font-weight: 400;
  padding-bottom: 10px;
}

#showcase .showcase-content p {
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 25px;
}

/* about */
.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-item {
  text-align: center;
  padding: 70px;
  width: 33.33%;
}

.icon {
  color: #28a745;
}

#about h3 {
  font-weight: 600;
  font-size: 1.3rem;
  padding-top: 20px;
  padding-bottom: 5px;
}

#about p {
  font-weight: 200;
  font-size: 0.85rem;
  text-align: justify;
  text-align-last: center;
  padding: 10px;
  line-height: 1.8;
}
