/* flex */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex-basis: 0;
  flex-grow: 1;
}

/* section */
.section-padding-sm {
  padding-top: 80px;
  padding-bottom: 100px;
}

.section-padding-lg {
  padding-top: 100px;
  padding-bottom: 150px;
}

/* buttons */
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 300;
  font-family: inherit;
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  color: white;
  background: #28a745;
}

.btn-primary:hover {
  background-color: #1c9f3bf1;
}

.btn-outline {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.btn-outline:hover {
  background-color: #d1dad34b;
}

/* text */
.text-primary {
  color: #28a745;
}

.description {
  font-weight: 200;
  font-size: 0.95rem;
  line-height: 1.5;
}

.heading-2 {
  font-weight: 400;
  font-size: 2rem;
}

.sub-heading-2 {
  font-weight: 400;
  font-size: 1.5rem;
}

.heading-3 {
  font-weight: 600;
  font-size: 1.3rem;
}

/* heading styles */
.heading-thin {
  font-weight: 100;
}

/* img styles */
.full-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
